.started-cont {
  background: #fbfbfd;
  height: 88vh;
  display: flex;
}
.text-cont {
  margin: 17% 0 0 6%;
  height: 13vh;
}
.get-started {
  box-shadow: -5px 6px 2px 0px black;
  height: 6vh;
  margin: 3%auto 0;
  border: 2px solid black;
  width: 42%;
}
.started-text {
  font-weight: bold !important;
  margin: 5% 7% !important;
  display: flex;
  letter-spacing: 1px !important;
}
@media only screen and (max-width: 480px) {
}
