.footer-cont {
  padding: 2% 6%;
  display: flex;
  width: 91;
  margin: auto;
}
.sec-1,
.sec-2,
.sec-3,
.sec-4,
.sec-5 {
  width: 22%;
}
.basic-footer {
  display: flex;
  width: 92%;
}
.back-top {
  right: 0.5%;
  top: 91%;
  position: fixed;
  color: white;
  background-image: linear-gradient(45deg, #0c0c0c, #957c7c);
  border-radius: 50px;
  height: 3vh;
  padding: 1%;
}
.copyright {
  margin-left: 10%;
  width: 100%;
  color: #717174;
}
.title1 {
  width: 48%;
  margin-left: 10%;
  color: #717174;
}
.title {
  width: 56%;
  color: #717174;
}
