.footer-cont {
  padding: 2% 6%;
  display: flex;
  width: 88%;
  margin: auto;
}
.sec-1,
.sec-2,
.sec-3,
.sec-4,
.sec-5 {
  width: 22%;
}
.basic-footer {
  display: flex;
}
.back-top {
  right: 0.5%;
  top: 91%;
  position: fixed;
  color: white;
  background-image: linear-gradient(45deg, #0c0c0c, #957c7c);
  border-radius: 50px;
  height: 3vh;
  padding: 1%;
}
